*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container{
	width: 100%;
	text-align: center;
}

h1{
	text-align: center;
	margin: 1em 0;
}

span{
	width: 100%;
	display: inline-block;
	text-align: center;
}

#emptybar{
	width: 80%;
	margin: 0 auto;
	height: 4em;
	border-radius: 2em;
	border: 2px solid #555;
	background-color: #ccc;
	overflow: hidden;
}

#filled{
	margin: 0;
	padding: 0;
	width: 0%;
	height: 100%;
	background-color: red;
}

#options{
	max-width: 20em;
	margin: 0 auto;
}

#options div{
	padding: 1em;
	margin: .5em;
	width: 100%;
	border-radius: 20px;
	border: 2px solid #555;
}

@media only screen and (max-width: 400px){

}

@media only screen and (min-width: 401px){

}
